<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

In [8]:
#Data Science Tools and Ecosystem

#### Add your code below following the instructions given in the course

In [9]:
#In this notebook, Data Science Tools and ecosystem are summarized

In [12]:
#Some of the popular languages that Data science use are 
#1 R
#2 Java 
#3 SQL

In [13]:
#Somw of the commonly used libraries used by Data Science include 
#1 Numpy 
#2 Keras 
#3 Panda

In [14]:
#Data Science Tools 
#1 SAS 
#2 Apache Spark 
#3 Excel

Below are a few examples of evaluating arithmetic in Python 
Addition: 2 + 2 evaluates to 4
Subtraction: 15 - 5 evaluates to 5
Multiplication: 4*5 evaluates to 20
Division: 15 / 5 evaluates to 3.0

In [15]:
(3*4)+5
# This is a simple arithmetic expression to multiply then add intergers

17

In [16]:
200/60
#this will convert 200 minutes to hours by dividing by 60

3.3333333333333335

In [17]:
#Author 
# Vaso Sapouna